

<div class="container mt-3">
 
 
  <div class="row justify-content-center">
      <div class="col-md-6">
          <% if (!contact) { %>
              <div class="alert alert-danger" role="alert">
                  <h2>your name is not in the list</h2>
                  <a href="/contact" class="card-link">&laquo; kembali ke contact</a> 

                </div>
          <% } else { %>
              <!-- <h2>detail contact</h2> -->
              <div class="card mx-auto" style="width: 18rem;">
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= contact[0].name %></h5>
                    <h6 class="card-subtitle mb-2 "><%= contact[0].phone %></h6>
                    <p class="card-text"><%= contact[0].email %></p>
                    <a style="font-weight: 200;" class=" btn btn-danger badge mb-3 py-2 d-block col-5 mx-auto" onclick="return confirm('delete this contact?')" href="/contact/delete/<%= contact.name %>" >delete contact</a> 
                  
                    <a href="/contact" class="card-link text-warning">&laquo; kembali ke contact</a> 
                 
                    <!-- <a href="/delete/<%= contact[0].name %>" onclick="event.preventDefault(); document.getElementById('delete-form').submit();">Delete</a>

                    <form id="delete-form" action="/delete/<%= contact[0].name %>" method="POST" style="display: none;">
                      <input type="hidden" name="_method" value="DELETE">
                      <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    </form> -->

                    <a class=" btn btn-danger badge mb-3 py-2 d-block col-5 mx-auto"href="/delete/<%= contact[0].name %>" onclick="event.preventDefault(); 
                      if (confirm('Are you sure you want to delete this contact?')) {
                        fetch('/delete/<%= contact[0].name %>', { method: 'DELETE' })
                        .then(() => window.location.href = '/contact')
                          .catch(err => console.error(err));
                      }">Delete</a>
                    

                  </div>
                </div>
          <% } %>
          
      </div>
  </div>
</div>